$top-slug: t !default;
$right-slug: r !default;
$bottom-slug: b !default;
$left-slug: l !default;


/**
 * WIDTH
 *
 * Simple classes for manipulating width.
 * example: w-50 would result in width: 50px !important
 */
$width-slug: w !default;
$max-width: 500 !default;
@for $i from 0 through $max-width { .#{$width-slug}-#{$i} { width: 0px + $i !important; } }


/**
 * HEIGHT
 *
 * Simple classes for manipulating height.
 * example: h-50 would result in height: 50px !important
 */
$height-slug: h !default;
$max-height: 500 !default;
@for $i from 0 through $max-height { .#{$height-slug}-#{$i} { height: 0px + $i !important; } }


/**
 * MARGIN
 *
 * A bunch of simple classes for manipulating margins.
 * example: mr-50 would result in margin: 50px !important
 * example: mr-t-50 would result in margin-top: 50px !important
 */
$margin-slug: mr !default;
$max-margin: 120;

// Margin
@for $i from 0 through $max-margin { .#{$margin-slug}-#{$i} { margin: 0px + $i !important; } }
// Margin-Top
@for $i from 0 through $max-margin { .#{$margin-slug}-#{$top-slug}-#{$i} { margin-top: 0px + $i !important; } }
// Margin-Left
@for $i from 0 through $max-margin { .#{$margin-slug}-#{$left-slug}-#{$i} { margin-left: 0px + $i !important; } }
// Margin-Right
@for $i from 0 through $max-margin { .#{$margin-slug}-#{$right-slug}-#{$i} { margin-right: 0px + $i !important; } }
// Margin-Right
@for $i from 0 through $max-margin { .#{$margin-slug}-#{$bottom-slug}-#{$i} { margin-bottom: 0px + $i !important; } }


/**
 * PADDING
 *
 * A bunch of simple classes for manipulating padding.
 * example: pd-50 would result in padding: 50px !important
 * example: pd-t-50 would result in padding-top: 50px !important
 */
$padding-slug: pd !default;
$max-padding: 120;

// Padding
@for $i from 0 through $max-padding { .#{$padding-slug}-#{$i} { padding: 0px + $i !important; } }
// Padding-Top
@for $i from 0 through $max-padding { .#{$padding-slug}-#{$top-slug}-#{$i} { padding-top: 0px + $i !important; } }
// Padding-Left
@for $i from 0 through $max-padding { .#{$padding-slug}-#{$left-slug}-#{$i} { padding-left: 0px + $i !important; } }
// Padding-Right
@for $i from 0 through $max-padding { .#{$padding-slug}-#{$right-slug}-#{$i} { padding-right: 0px + $i !important; } }
// Padding-Right
@for $i from 0 through $max-padding { .#{$padding-slug}-#{$bottom-slug}-#{$i} { padding-bottom: 0px + $i !important; } }


/**
 * BORDER
 *
 * Simple classes for manupulating borders
 */
.bd-rd-0 { border-radius: none !important; }
.bd-t-0 { border-top: none !important; }
.bd-r-0 { border-right: none !important; }
.bd-b-0 { border-bottom: none !important; }
.bd-l-0 { border-left: none !important; }

/**
 * TYPOGRAPHY
 *
 * Simple classes for manipulating text, such as color, size, decoration and more.
 */
$font-size-slug: fs !default;
$max-font-size: 	100 !default;
// Transformations/decorations
.uppercase { text-transform: uppercase !important; }
.no-transform { text-transform: none !important; }
.underline { text-decoration: underline !important; }
// Font weights
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }
// Font size
@for $i from 0 through $max-font-size { .#{$font-size-slug}-#{$i} { font-size: 0px + $i; } }


/**
 * DISPLAY SETTINGS
 */
.inline-block { display: inline-block !important; }