/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 50px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
  height: 50%;
  .item {
    height: 100%;
    &.active {
      height: 100%;
    }
  }
  .carousel-inner {
    height: 100%;
  }
  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
  sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
  }
}

.period {
  display: block;
  font-style: italic;
}

/* Footer Styles */

footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 991px) {
  .customer-img, .img-related {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }
  header.carousel .carousel {
    height: 70%;
  }
}

.user-profile-sidebar {
  padding: 0;
  .list-group {
    border-radius: 0;
    margin-bottom: 0;
    .list-group-item {
      border-left: none;
      border-right: none;
      &:first-child {
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      &:last-child {
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}


/**
 * Styles for how previews for blog posts appear on the home page.
 */
.blog-post-home-preview {
  .blog-thumbnail {
    // max-width: 450px;
    max-height: 318px;
    overflow: hidden;
  }
}

/**
 * Styles for viewing blog posts
 */
.blog-post {
  .blog-title-image {
    // max-height: 350px !important;
    border: 6px solid #999;
    border-radius: 3px;
  }
}


/**
 * SimpleMDE Styles
 */
.CodeMirror, .CodeMirror-scroll {
  min-height: 500px !important;
}